/* GLOBALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    font-size: 0.9375rem;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    text-align: center;
    line-height: 2.5;
}

/* CAR COMPONENT */

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    max-width: 57.5rem;
    overflow: hidden;
    margin: 1.5rem;
}

/* CAR INFO SECTION */

.car-info {
    flex-grow: 1;
    flex-basis: calc((46.5625rem - 100%) * 999);
    padding: clamp(2rem, 6%, 3rem);
}

.car-info img {}

.car-info h2 {
    font-size: 2.5rem;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-top: 2.1875rem;
    margin-bottom: 1.5625rem;
    line-height: 1;
}

.car-info p,
.button {
    color: hsl(0, 0%, 100%, 0.75);
}

.car-info p {
    opacity: .75;
    width: min(100%, 35ch);
}

.button {
    display: inline-block;
    width: 10rem;
    height: 2.5rem;
    border-radius: 3em;
    background-color: hsl(0, 0%, 95%);
    border: 0.75rem 2rem;
    margin-top: 5.1875rem;
}

/* SEDAN SECTION */

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sedan .button {
    color: hsl(31, 77%, 52%);
}

.sedan .button:active {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

/* SUV SECTION*/

.suv {
    background-color: hsl(184, 100%, 22%);
}

.suv .button {
    color: hsl(184, 100%, 22%);
}

.suv .button:active {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

/* LUXURY SECTION */

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.luxury .button {
    color: hsl(179, 100%, 13%);
}

.luxury .button:active {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

/* RESPONSIVE */

@media only screen and (max-width: 788px) {
    .sedan {
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    .luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }
}